@page
@model FAP.Pages.ClassInchargeModel
@{
}
<!-- component -->
<div class="flex flex-col px-5">
  <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
    <div class="py-3 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <tbody>
            <tr class="bg-gray-50 border-b">
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                SE1619
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Course Name
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Slot 20 (06/06/2023)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Time to check (from 8:00AM to 12:00PM)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                <a href="#" class="text-decoration-underline text-primary">check attendance</a>
              </td>
            </tr>
            <tr class="bg-white border-b">
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                SE1619
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Course Name
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Slot 20 (06/06/2023)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Time to check (from 8:00AM to 12:00PM)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                <a href="#" class="text-decoration-underline text-primary">check attendance</a>
              </td>
            </tr>
            <tr class="bg-gray-50 border-b">
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                SE1619
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Course Name
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Slot 20 (06/06/2023)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Time to check (from 8:00AM to 12:00PM)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                <a href="#" class="text-decoration-underline text-primary">check attendance</a>
              </td>
            </tr>  
            <tr class="bg-white border-b">
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">4</td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                SE1619
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Course Name
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Slot 20 (06/06/2023)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Time to check (from 8:00AM to 12:00PM)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                <a href="#" class="text-decoration-underline text-primary">check attendance</a>
              </td>
            </tr>
            <tr class="bg-gray-50 border-b">
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">5</td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                SE1619
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Course Name
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Slot 20 (06/06/2023)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                Time to check (from 8:00AM to 12:00PM)
              </td>
              <td class="text-sm text-gray-900 font-medium-50 px-6 py-3 whitespace-nowrap">
                <a href="#" class="text-decoration-underline text-primary">check attendance</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>