@page
@model FAP.Pages.HomeModel
@{
}
  <div class="">
    <!-- Banner -->
    <img src=""/>
    <div class="px-2 py-8 flex flex-wrap justify-between">
      <!-- News -->
      <div class="w-full lg:w-1/3 lg:pl-8 lg:pr-8 mb-8 lg:mb-0">
        <h2 class="text-xl font-bold mb-4">News</h2>
        <ul class="grid grid-cols-1 bg-white rounded-lg shadow-lg">
          <li class=" p-3">
            <a href="#" class="block  hover:underline">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </a>
            <p class="text-gray-500 text-sm mt-1">June 10, 2023</p>
          </li>
          <li class="p-3">
            <a href="#" class="block  hover:underline">
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </a>
            <p class="text-gray-500 text-sm mt-1">June 9, 2023</p>
          </li>
          <li class="bg-white rounded-lg shadow-md p-3">
            <a href="#" class="block  hover:underline">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </a>
            <p class="text-gray-500 text-sm mt-1">June 8, 2023</p>
          </li>
        </ul>
      </div>
      <!-- Actions -->
      <div class="w-full lg:w-2/3 lg:pr-8 lg:pl-8">
        <h2 class="text-xl font-bold mb-4">Actions for Students</h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 bg-white rounded-lg shadow-lg">
          <li class="p-4 pb-0">
            <a href="#">
              <span class=" text-primary hover:underline">University timetable</span> (Lịch học)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#" >
              <span class=" text-primary hover:underline">Tuition fee per course</span> (Biểu học phí)
            </a> 
          </li>
          <li class="p-4 pb-0">
            <a href="#">
              <span class=" text-primary hover:underline">Weekly timetable</span> (Thời khóa biểu từng tuần)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#">
              <span class=" text-primary hover:underline">Blended Online Course (BLOC) Schedules </span>(Lịch học các môn theo phương pháp BLOC trong kỳ)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#" >
              <span class=" text-primary hover:underline">Class timetable</span> (Xem thời khóa biểu của một lớp)
            </a>
          </li>
          <li class=" p-4 pb-0">
            <a href="#">
              <span class=" text-primary hover:underline">View exam schedule</span> (Xem lịch thi)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#">
              <span class="text-primary hover:underline">View Syllabuses</span>(Xem đề cương môn học)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#">
              <span class=" text-primary hover:underline">EduNext student guideline</span>
            </a>
          </li>
          <li class=" p-4 pb-0">
            <a href="#" >
              <span class=" text-primary hover:underline">Dormitory regulations</span> (Nội quy KTX Cần Thơ)
            </a>
          </li>
          <li class="p-4 pb-0">
            <a href="#" >
              <span class="-medium text-primary hover:underline">Help/Hỗ trợ</span>
            </a>
          </li>
          <li class="p-4 pb-4">
            <a href="#" >
              <span class=" text-primary hover:underline">Định hướng cho sinh viên</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

